In [1]:
#LIST OPERATIONS

a=[24,365,26.44,'guvi']
print(a)

[24, 365, 26.44, 'guvi']

In [2]:
#APPEND - Add Somrthing in the last:
a.append('Puma')
print(a)

a.append([24.8,335,'Raja'])
print(a)

[24, 365, 26.44, 'guvi', 'Puma']
[24, 365, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja']]

In [3]:
#to add multiple elements in the list using for loop

b=['queen','king',1997,24.68]
for z in b:
    a.append(z)
print(a)

[24, 365, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [4]:
#to add multiple elements in the list : #extend

d=[55,987,26.48,'Text']
d.extend(['queen','king',777])
print(d)

[55, 987, 26.48, 'Text', 'queen', 'king', 777]

In [5]:
#insert: inserting at a certain place using index function in the list :

a.insert(2,555)
print(a)

[24, 365, 555, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [6]:
#to replace a certain element in the list:
a[2]='God'
print(a)

[24, 365, 'God', 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [5]:
#to replace an element in the list, which is inside another list:
a=[24,365,'God',26.44,"guvi",'puma',[24.8,335,'Raja']]
a[6][2]='22'
print(a)

[24, 365, 'God', 26.44, 'guvi', 'puma', [24.8, 335, '22']]

In [7]:
#index : to find the index value 

c=[22,57,'God']
c.index('God')

2

In [8]:
#Count : count how many times a same element is repeated in the list:

c.extend([25,25,25])
print(c)

c.count(25)

[22, 57, 'God', 25, 25, 25]

3

In [9]:
#POP : TO temperorily remove an element

d=c.pop(2)
print(c)
print(d)

[22, 57, 25, 25, 25]
God

In [10]:
#delete : del : to permanantly delete an element from the memory.(Not only the list)

del c[1]
print(c)

[22, 25, 25, 25]

In [11]:
#Sort : To sort the list in the ascending order(variable.sort), use reverse=True to sort in descending order

e=[556,789,52.66,27,998.956]
e.sort(reverse=True)
print(e)

[998.956, 789, 556, 52.66, 27]

In [12]:
#only used in list or set, Dict contains numbers.
#max = to find the maximum value
#min - Minimum Value
#sum - To add all the Values

print(max(e))
print(min(e))
print(sum(e))

998.956
27
2423.616

In [ ]:
#Tuple 

#-Heterogeneous
#-Immutable
#-Ordered (by index)

In [13]:
x,y,z=(53,3.7,'King')
print(x)
print(y)
print(z)

53
3.7
King

In [ ]:
#Usage of Brackets :

#[] - Operations of List, Particular Data
#() - Functions / Methods
#{} - Dictionary / Data

In [ ]:
# STRINGS

#Functions of Strings

#variable.upper = Uppercase the String Completely
#v.lower = Lowercase the complete string
#v.Capitalize = Uppercase the 1st Letter of the String.
#v.count = Counts the character in the string.
#v.find = Finds the left most index value of a character in a string
#v.rfind = Finds the right most index value of the character in a string
#v.index = Finds the index value of a character in the string.
#len(variable) = Finds the total characters in a string. Even counts the Space.

In [14]:
#For Example :

s="Happy Morning"
print(s.upper())
print(s.capitalize())
print(s.lower())
print(s.count('a'))
print(s.find('p'))
print(s.rfind('n'))
print(s.index('Mo'))
print(len(s))

HAPPY MORNING
Happy morning
happy morning
1
2
11
6
13